[defaults]
host_key_checking = False
inventory = inventory.yml
retry_files_enabled = False
hash_behaviour = merge

[ssh_connection]
ssh_args = -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -o ControlMaster=auto -o ControlPath=~/.ssh/%h -o ControlPersist=30m
callback_whitelist = profile_tasks

[inventory_plugin_yaml ]
yaml_valid_extensions = [u'.yaml', u'.yml', u'.json']
